name: Build and Push Docker Image
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
  # push:
  #   branches:
  #     - main
jobs:
  build:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/dhw-pcs/bs-php:latest, ghcr.io/dhw-pcs/bs-php:${{ github.sha }}
          platforms: linux/amd64,linux/arm64